:root {
    --bgWidget:  rgba(29, 34, 40, 0.5);
    --colWidget: #E1E2E2;
    --empWidget: #FB8122;
}

.legendWidget {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    width: 100%;
    text-align: left;
    background-color: var(--bgWidget);
    color: var(--colWidget);
    border-top: 2px solid var(--empWidget);
    border-bottom: 2px solid var(--empWidget);
    margin-bottom: 10px;
    box-sizing: border-box;
}

.containerData {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.symbolValue, .firstDataBlock, .secondDataBlock {
    box-sizing: border-box;
    width: 33.3%;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    text-align: center;
} 

.capValue, .priceValue, .percentChange24h, .vol24h {
    width: 50%;
    box-sizing: border-box;
}

.capValue:hover, .priceValue:hover, .percentChange24h:hover, .vol24h:hover {
    cursor: pointer;
    color: #a5a7a7;
}


.symbolValue {
    font-family: 'Staatliches', cursive;
    color: var(--empCard);
    align-items: center;
}

@media only screen and (max-width:540px) {
    .symbolValue, .firstDataBlock, .secondDataBlock {
        flex-direction: column;
    }
    .containerData {
        width: 95%;
    }
    .symbolValue {
        font-size: 1.2em;
    }
}

@media only screen and (min-width:541px) and (max-width: 1024px){
    .containerData {
        width: 90%;
    }
}

/*MEDIA QUERY PER DISPOSITIVI CON SCHERMO RETINA -- (APPLE)*/

@media
only screen and ( -webkit-min-device-pixel-ratio: 2) and (min-width: 700px),
only screen and ( min–moz-device-pixel-ratio: 2) and (min-width: 700px),
only screen and ( -o-min-device-pixel-ratio: 2/1) and (min-width: 700px),
only screen and ( min-device-pixel-ratio: 2) and (min-width: 700px),
only screen and ( min-resolution: 192dpi) and (min-width: 700px),
only screen and ( min-resolution: 2dppx) and (min-width: 700px) {

    .symbolValue {
        font-size: 1.6em;
    }

    .capValue, .priceValue, .percentChange24h, .vol24h {
        font-size: 1.2em;
    }
}

@media
only screen and ( -webkit-min-device-pixel-ratio: 2) and (min-width: 1024px),
only screen and ( min–moz-device-pixel-ratio: 2) and (min-width: 1024px),
only screen and ( -o-min-device-pixel-ratio: 2/1) and (min-width: 1024px),
only screen and ( min-device-pixel-ratio: 2) and (min-width: 1024px),
only screen and ( min-resolution: 192dpi) and (min-width: 1024px),
only screen and ( min-resolution: 2dppx) and (min-width: 1024px) {

    .symbolValue {
        font-size: 1.8em;
    }

    .capValue, .priceValue, .percentChange24h, .vol24h {
        font-size: 1.6em;
    }        
        
}

@media
only screen and ( -webkit-min-device-pixel-ratio: 2) and (min-width: 1920px),
only screen and ( min–moz-device-pixel-ratio: 2) and (min-width: 1920px),
only screen and ( -o-min-device-pixel-ratio: 2/1) and (min-width: 1920px),
only screen and ( min-device-pixel-ratio: 2) and (min-width: 1920px),
only screen and ( min-resolution: 192dpi) and (min-width: 1920px),
only screen and ( min-resolution: 2dppx) and (min-width: 1920px) {

    .symbolValue {
        font-size: 2.3em;
    }

    .capValue, .priceValue, .percentChange24h, .vol24h {
        font-size: 1.9em;
    }     
    
}