:root {
    --bgData: #1D2228;
    --colData: #E1E2E2;
    --empData: #FB8122;
}

.dataPage {
    min-height: 100vh;
    width: 100%;
    background-color: var(--bgData);
    color: var(--colData);
}

.background1 {
    position: relative;
}

.customShapeDividerTop1603954741 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.customShapeDividerTop1603954741 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 224px;
}

.customShapeDividerTop1603954741 .shapeFill {
    fill: #FB8122;
}

.dataList {
    position: relative;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid var(--empData);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}



.buttons {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.requestButton, .linkButton, .selectInput {
    background-color: var(--bgData);
    color: var(--colData);
    font-family: 'Staatliches', cursive;
    border: 0;
    border-radius: 5px;
    font-size: 1.3em;
    padding: 10px 90px;
    transition: all 1s;
    margin: 20px 10px;
}

.requestButton:hover, .linkButton:hover {
    padding: 10px 60px;
    color: var(--empData);
    border-radius: 10px;
    cursor: pointer;
}

.requestButton:focus, .linkButton:focus{
    padding: 10px 75px;
    outline: none;
    cursor: pointer;
}
.selectInput:focus{
    outline: none;
}

.loadingGif {
    height: 15px;
}

@media only screen and (max-width:540px){
    .customShapeDividerTop1603954741 svg {
        height: 521px;
    }
    .buttons {
        flex-direction: column;
    }
    .dataList {
        width: 95%;
    }
}

@media only screen and (min-width:541px) and (max-width: 1024px){
    .dataList {
        width: 90%;
    }
}

/*MEDIA QUERY PER DISPOSITIVI CON SCHERMO RETINA -- (APPLE)*/

@media
only screen and ( -webkit-min-device-pixel-ratio: 2) and (min-width: 700px),
only screen and ( min–moz-device-pixel-ratio: 2) and (min-width: 700px),
only screen and ( -o-min-device-pixel-ratio: 2/1) and (min-width: 700px),
only screen and ( min-device-pixel-ratio: 2) and (min-width: 700px),
only screen and ( min-resolution: 192dpi) and (min-width: 700px),
only screen and ( min-resolution: 2dppx) and (min-width: 700px) {

    .buttons {
        flex-wrap: wrap;
        font-size: 1.1em;
    }

    .customShapeDividerTop1603954741 svg {
        height: 341px;
    }

    
}

@media
only screen and ( -webkit-min-device-pixel-ratio: 2) and (min-width: 1024px),
only screen and ( min–moz-device-pixel-ratio: 2) and (min-width: 1024px),
only screen and ( -o-min-device-pixel-ratio: 2/1) and (min-width: 1024px),
only screen and ( min-device-pixel-ratio: 2) and (min-width: 1024px),
only screen and ( min-resolution: 192dpi) and (min-width: 1024px),
only screen and ( min-resolution: 2dppx) and (min-width: 1024px) {
       
    .buttons {
        font-size: 1.3em;
    }
    .linkButton, .requestButton, .selectInput {
        padding: 12px 120px;
    }

    .requestButton:hover, .linkButton:hover {
        padding: 12px 130px;
    }
    .requestButton:focus, .linkButton:focus {
        padding: 12px 110px;
    }
        
}

@media
only screen and ( -webkit-min-device-pixel-ratio: 2) and (min-width: 1920px),
only screen and ( min–moz-device-pixel-ratio: 2) and (min-width: 1920px),
only screen and ( -o-min-device-pixel-ratio: 2/1) and (min-width: 1920px),
only screen and ( min-device-pixel-ratio: 2) and (min-width: 1920px),
only screen and ( min-resolution: 192dpi) and (min-width: 1920px),
only screen and ( min-resolution: 2dppx) and (min-width: 1920px) {
    
    .linkButton, .requestButton, .selectInput {
        padding: 16px 180px;
    }

    .requestButton:hover, .linkButton:hover {
        padding: 16px 200px;
    }
    .requestButton:focus, .linkButton:focus {
        padding: 16px 170px;
    }

}